html {
  font-family: "Roboto", sans-serif;
}

body {
  background-image: url("../images/bg-1.jpg");
  background-position: center;
  font-family: "Roboto", sans-serif;
}

.search {
  width: 100%;
  position: relative;
}

.search-term {
  width: 100%;
  border: 1px solid #fff;
  border-radius: 20px;
  background-color: transparent;
  color: #fff;
  font-weight: 300;
}

.search-term:focus {
  background-color: #fff;
  color: #000;
}

.wrap{
  width: 70%;
  position: absolute;
  top: 5%;
  left: 43%;
  transform: translate(-50%, -50%);
}

.search-icon {
  max-width: 30px;
  position: absolute;
  top: 50%;
  left: 115%;
  transform: translate(-50%, -50%);
}
.h1 {
  font-size: 15em;
  color: #fff;
  line-height: 1em;
  font-weight: 100;
}

.main-info {
  color: #fff;
  padding-top: 30px;
  font-weight: 100;
  max-width: 500px;
  margin: auto;
}

.main-info dt {
  width: 6.5em;
}

.main-info dd {
  min-width: 2em;
}

.more-info dt {
  width: 6.5em;
}

.more-info dd {
  min-width: 2em;
}

.more-info {
  color: #fff;
  max-width: 500px;
  margin: auto;
}

.info more-info {
  display: inline-block;
}

.arrow {
  max-width: 70px;
}

.rapid-forcast {
  color: #fff;
  font-weight: 100;
}

.big-screen{
  display: none;
}

.left-arrow {
  max-height: 70px;
  transform: rotate(90deg);
}

.right-arrow {
  max-height: 70px;
  transform: rotate(270deg);
}

.left-arrow {
  float: left;
}

.right-arrow {
  float: right;
}

.read-more {
  display: none;
}

.check {
  position: absolute;
  left: 10em;
  border: 1px solid red;
  color: var(--color-primary);
}

.check:checked ~ .read-more {
  display: block;
  color: #fff;
}

.check:checked ~ .info {
  display: block;
}

.check:checked ~ .label {
  transform: rotate(180deg);
  transition: transform 200ms ease;
}

.check + .label::before {
  content: none;
  display: none;
}

.label {
  transform: rotate(0deg);
  transition: transform 200ms ease;
}

.info {
  background-color: var(--color-neutral-beige);
}

.main-info dt {
  font-weight: 100;
}

.main-info dd {
  font-weight: 900;
}

@media only screen and (min-width: 25em) {

  .search-icon {
    left: 110%;
  }

}

@media only screen and (min-width: 38em) {

  .search-icon {
    left: 109%;
    max-width: 35px;
  }

  .small-screen{
    display: none;
  }

  .big-screen{
    display: block;
  }

  .box {
    padding-top: 95px;
  }

}

@media only screen and (min-width: 60em) {

  .search-icon {
    left: 107%;
    max-width: 40px;
  }

}
