html {
  font-family: sans-serif;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
  background-color: #212121;
}

.search {
  width: 100%;
  position: relative
}

.search-term {
  width: 100%;
  border: 1px solid #fff;
  border-radius: 20px;
  outline: none;
  background-color: #212121;
  color: #fff;
}

.search-term:focus{
  color: #fff;
}

.wrap{
  width: 70%;
  position: absolute;
  top: 5%;
  left: 43%;
  transform: translate(-50%, -50%);
}

.search-icon {
  max-width: 30px;
  position: absolute;
  top: 50%;
  left: 115%;
  transform: translate(-50%, -50%);
}
.h1 {
  font-size: 15em;
  color: #fff;
  line-height: 1em;
}

.main-info {
  color: #fff;
  padding-top: 70px;
  font-weight: 100;
  max-width: 500px;
  margin: auto;
}

.main-info dt {
  width: 6.5em;
}

.main-info dd {
  min-width: 2em;
}

.arrow {
  max-width: 70px;
}

.rapid-forcast {
  color: #fff;
  font-weight: 100;
}

.big-screen{
  display: none;
}

.left-arrow,
.right-arrow {
  max-height: 70px;
}

.left-arrow {
  float: left;
}

.right-arrow {
  float: right;
}

@media only screen and (min-width: 25em) {

  .search-icon {
    left: 110%;
  }

}

@media only screen and (min-width: 38em) {

  .search-icon {
    left: 109%;
    max-width: 35px;
  }

  .small-screen{
    display: none;
  }

  .big-screen{
    display: block;
  }

}

@media only screen and (min-width: 60em) {

  .search-icon {
    left: 107%;
    max-width: 40px;
  }

}
